.whole_div {
    background: #67B26F;
    background-position: center;
    background-size: cover;
    padding: 50px;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;

}
.main_heading{
    color: #fff;
    margin-bottom: 10px;
}

.main_row{
    height: 100%;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
}

label {
    float: left;
    margin: 3px;
    font-weight: 700;
}

.btns {
    margin-top: 20px;
}

/* .btn {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border: none;
    width: 150px;
    outline: none;
    padding: 8px;
    font-size: 18px;
} */

.btn{
    outline: none;
    text-transform: capitalize;
    margin: 3px 4px;
    width: 100px;
}

.btn:hover {
    background-color: red;
    color: white;
}

.column {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid green;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}
